body {
	background-image: url("survey.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#content
{
	width:900px;
	margin: 0 auto;

}
#naslovAnketi
{
	
	text-align:center;
	font-family: "Century Gothic";
	font-size:28px;
	
	font-weight: bold;
         color:#330033;



}

#naslovAnketi1
{ 
	margin:80px; 
}

#anketite
{
	width:850px;
	margin:0 auto;
}

#anketa1
{
	float:left;
}

#anketa2
{
	float:right;
}


#anketaProfesor
{
	width:350px;
	height:400px;
	margin:5px;
}

#stProgramaLink
{
	width:350px;
	height:400px;
	margin:5px;
	background-image: url("12404332_10205172737379938_1787357690_n.jpg");
	background-size: 350px 400px;
}

#stProgramaLink:Hover
{
	background-image: url("12380329_10205172737259935_156468559_n.jpg");
	background-size: 350px 400px;
}

#profesorLink
{
	width:350px;
	height:400px;
	margin:5px;
       
        background-image: url("12404507_10205172737419939_913980605_n.jpg");
	background-size: 350px 400px;
}

#profesorLink:Hover
{
	width:350px;
	height:400px;
	margin:5px;
	background-image: url("12399275_10205172737339937_775402535_n.jpg");
	background-size: 350px 400px;
}

.paragrafAnketa
{
	font-family: "Century Gothic";
	font-size:16px;
	color: #69586D;
	font-weight: bold;
}

#odjavi_se
{
        margin-left:1200px;
        width: 100px;
	height:30px;
	border-radius: 4px;
	font-family: "Century Gothic";
	background-color: #3E3F6E;
	border: 1px solid #3E3F6E;
	color:white;	


}
