/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2015, 11:16:42 PM
    Author     : VESNA
*/

body {
	background-image: url("survey.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#content
{
	width:530px;
	height:300px;
	border: 1px solid #69586D;
	margin-left:23px;
	margin-top:315px;
	background-color:white;
	border-radius:4px;
	color: #69586D;
}
#header
{
	height:55px;
	border-bottom: 1px solid #69586D;
	font-family: "Century Gothic";
	font-size:14px;
	background-color:#E9E9E9;
	border-radius:4px;
}

#fax
{
	font-style: italic;
	margin-top:0px;
	margin-left:7px;
	margin-bottom:-10px;
}

#SoftverEvaluacija
{
	font-size:20px;
	text-align:center;
	margin-bottom:5px;
}

#sredina
{
	height:173px;
	
	font-family: "Century Gothic";
	font-size:14px;
	
}

#korisnickoIme
{
	margin-left:50px;
	margin-top:25px;
	
}

#lozinka
{
	margin-left:50px;
	margin-top:20px;
}

.inputIme
{
	width:230px;
	margin-left:40px;
	font-size:14px;
	font-family: "Century Gothic";
}
.inputKorisnik1
{
        width:230px;
	margin-left:40px;
	font-size:14px;
	font-family: "Century Gothic";

}

.inputLozinka
{
	width:230px;
	margin-left:50px;
	font-size:14px;
	font-family: "Century Gothic";
}

#zapamti
{
	margin-top:15px;
	margin-left:162px;
}

#kopceNajavuvanje
{
	margin-left:230px;
	margin-top:10px;
	width: 100px;
	height:30px;
	border-radius: 4px;
	font-family: "Century Gothic";
	background-color: #3E3F6E;
	border: 1px solid #3E3F6E;
	color:white;	
}

#tekstSignup
{
	margin-left:53px;
	margin-right:10px;
	margin-bottom:0px;
	margin-top:5px;
	font-family: "Century Gothic";
	font-size:12px;
}

#signupLink
{
	text-decoration:none;
	font-weight: bold;
	font-style: italic;
}

#footer
{
	height:45px;
	border-top: 1px solid #69586D;
	font-family: "Century Gothic";
	background-color:#E9E9E9;
	border-radius:4px;
}




#contentRegistracija
{
	width:530px;
	height:450px;
	border: 1px solid #69586D;
	margin-left:23px;
	margin-top:225px;
	background-color:white;
	border-radius:4px;
	font-family: "Century Gothic";
	font-size:14px;
	color: #69586D;
}

#imePrezime
{
	margin-left:50px;
	margin-top:15px;
}

#indeks
{
	margin-left:50px;
	margin-top:15px;
}
.inputIme
{
	width:230px;
	margin-left:135px;
	font-size:14px;
	font-family: "Century Gothic";
}

.inputImePrezime
{
	width:230px;
	margin-left:102px;
	font-size:14px;
	font-family: "Century Gothic";
}

.inputIndeks
{
	width:230px;
	margin-left:65px;
	font-size:14px;
	font-family: "Century Gothic";
}

.inputKorisnik
{
	width:230px;
	margin-left:53px;
	font-size:14px;
	font-family: "Century Gothic";
}

.inputLozinka2
{
	width:230px;
	margin-left:113px;
	font-size:14px;
	font-family: "Century Gothic";
}

.inputEmail
{
	width:230px;
	margin-left:76px;
	font-size:14px;
	font-family: "Century Gothic";
}

#inputSemestar
{
	width:110px;
	margin-left:96px;
	font-size:14px;
	font-family: "Century Gothic";
}

#inputPrograma
{
	width:110px;
	margin-left:27px;
	font-size:14px;
	font-family: "Century Gothic";
}
#inputStudii
{
	width:230px;
	margin-left:73px;
	font-size:14px;
	font-family: "Century Gothic";
}

#kopceRegistracija
{
	margin-left:260px;
	margin-top:15px;
	width: 170px;
	height:30px;
	border-radius: 4px;
	font-family: "Century Gothic";
	background-color: #3E3F6E;
	border: 1px solid #3E3F6E;
	color:white;
}
