body
{
    background-image: url("3ds_website-background-tiled_100.jpg");
	font-family: "Century Gothic";
	
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#content2
{
	width:1000px;
}

#table, th, td
{
	font-size:14px;
}

#tabela1
{
	margin-left:300px;
	border-collapse:collapse;
	width:733px;	
}

#tabela2
{
	margin-left:300px;
	border-collapse:collapse;
	width:733px;
}

#tabela3
{
	margin-left:300px;
	border-collapse:collapse;
	width:733px;
}

#tabela4
{
	margin-left:300px;
	border-collapse:collapse;
	width:733px;
}

#tabela5
{
	margin-left:300px;
	border-collapse:collapse;
	width:733px;
}

#tabela6
{
	margin-left:300px;
	border-collapse:collapse;
	width:733px;
}

#tabela7
{
	margin-left:300px;
	border-collapse:collapse;
	width:733px;
}

#tabela8
{
	margin-left:300px;
	border-collapse:collapse;
	width:733px;
	
}

#divSubmit
{
	margin-top:10px;
	margin-left:300px;
	font-size:15px;
}

#divOcenuvanje
{
	margin-top:10px;
	margin-left:300px;
	font-size:15px;
}


.prasanja 
{
	width:650px;
}

#naslovi
{
	text-align:center;
	margin-left:300px;
}

.informacii
{
	width:360px;
	font-size:16px;
	font-family: "Century Gothic";
	border-radius:3px;
	border: 1px solid black;
	float:right;
	
}

.informacii2
{
	width:360px;
	font-size:16px;
	font-family: "Century Gothic";
	border-radius:3px;
	border: 1px solid black;
	float:right;
}

#prosek
{
	width:205px;
	margin-left:5px;
	font-size:15px;
	font-family: "Century Gothic";
	border-radius:3px;
	border: 1px solid black;
}

.inf
{
	width:733px;
	margin-left:300px;
	margin-right:300px;
}

#naslovAnketa
{
	text-align:center;
	font-size:20px;
	font-weight: bold;
	font-style: italic;
}

#studAnketa
{
	font-weight: bold;
	font-style: italic;
}



#vnesiKopce
{
	
	width: 100px;
	height:30px;
	margin-top:15px;
	margin-bottom:15px;
	border-radius: 4px;
	font-family: "Century Gothic";
	font-size:18px;
	background-color: #3E3F6E;
	border: 1px solid #3E3F6E;
	color:white;
}

